@font-face {
    font-family: 'Bebas Neue';
    src: url('fonts/BebasNeue-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Crimson';
    src: url('fonts/CrimsonText-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "Tinos";
    src: url('fonts/Tinos-Regular.ttf') format("truetype");
}

@font-face {
    font-family: "Arsenal";
    src: url('fonts/Arsenal-Regular.ttf') format('truetype');
}

html {
    font-family: serif;
    background-image: url('background.jpeg');
    background-color: #FF0000;
}

#headshot {
    width: 12%;
    height: 12%;
    background-color: #801c201F;
    padding: 10px;
    margin: 10px;
    position: relative;
    left: 42.6%;
    border-radius: 10px;
}

#intro {
    position: sticky;
    font-family: 'Bebas Neue';
}

#name {
    color: #A01C20;
    position: relative;
    line-height: 0.3;
    left: 45%;
    bottom: 5px;
}

#description {
    color: #A23295;
    position: relative;
    font-weight: 700;
    left: 42%;
    line-height: .43;
}

#bioh {
    position: absolute;
    top: 350px;;
    display: inline-block;
    left: 15.7%;
    width: 70.94%;
    font-family: 'Bebas Neue', sans-serif;
    text-align: left;
    font-size: 18px;
    color: #FFFFFF;
    background-color: #6F0010AA;
    padding: 15px;
    border-radius: 10px;
}

#bio {
    position: absolute;
    left: 15.7%;
    width: 70.94%;
    height: auto;
    font-family: 'Crimson';
    text-align: left;
    color: #FFFFFF;
    background-color: #6F0010AA;
    padding: 15px;
    top: 400px;
    border-radius: 10px;
}

h4 {
    line-height: 0.5;
    color: #E1C120;
}

li {
    color: #FFFFFFCC;
}

a:link {
    color: #E1C120;
    transition: 0.2s;
}

a:visited {
    color: #DDAAEE;
}

a:hover {
    color: #002080AA;
    text-decoration: none;
    transition: 0.2s;
}

.section p, #projects p {
    color: #FFFFFF;
    font-weight: 100;
}

ul {
    position: relative;
    bottom: 12px;
}

.section {
    height: 430px;
    width: 16%;
    padding: 1%;
    display: inline-block;
    position: absolute;
    top: 735px;
    text-overflow: ellipsis;
    font-family: 'Bebas Neue', sans-serif;
    color: #000000;
    font-size: 18px;
    border-radius: 10px;
}

#projects {
    background-color: #AA2030D1;
    left: 15.9%;
    width: 69.7%;
    height: 620px;
    padding: 20px;
    margin: 1px;
    display: inline-block;
    position: absolute;
    top: 1250px;
    text-align: top;
    font-family: 'Bebas Neue', sans-serif;
    color: #000000;
    font-size: 18px;
    border-radius: 10px;
}

#experience{
    background-color: #D37020D1;
    left: 16%;
}

#education {
    background-color: #4080EED1;
    left: 34%;
}

#courses {
    background-color: #809A7FD1;
    left: 52%;
}

#skills {
    background-color: #9030FED1;
    left: 70%;
}

.jobdesc {
    position: relative;
    bottom: 5px;
    font-family: 'Crimson';
    font-size: 15px;
}

.timedesc {
    position: relative;
    bottom: 16px;
    font-family: 'Crimson';
    font-size: 11px;
}

footer {
    font-family: 'Bebas Neue';
    color: #FFFFFF99;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0px;
    background-color: #00000099;
    border-radius: 10px;
}
