@font-face {
    font-family: 'Bebas Neue';
    src: url('Fonts/BebasNeue-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Crimson';
    src: url('Fonts/CrimsonText-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "Tinos";
    src: url('Fonts/Tinos-Regular.ttf') format("truetype");
}

@font-face {
    font-family: "Arsenal";
    src: url('Fonts/Arsenal-Regular.ttf') format('truetype');
}

html {
    font-family: serif;
    background-image: url('background.jpeg');
    background-color: #000000;
}

#headshotp {
    position: relative;
    top: 10px;
    display: flex;
    justify-content: center;
}

#headshot {
    background-color: #801c201F;
    width: 15%;
    height: 15%;
}

#intro {
    font-family: 'Bebas Neue';
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#name {
    color: #A01C20;
    position: relative;
    top: 20px;
}

#description {
    color: #A23295;
    font-weight: 700;
    position: relative;
    bottom: 10px;
}

#bioh {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 18px;
    color: #FFFFFF;
    background-color: #6F0010AA;
    text-align: left;
    width: 68%;
    padding: 1%;
    border-radius: 10px;
    position: relative;
    top: 20px;
    left: 15%;
    display: flex;
    justify-content: center;
}

#bio {
    font-family: 'Crimson';
    color: #FFFFFF;
    background-color: #6F0010AA;
    text-align: left;
    width: 68%;
    border-radius: 10px;
    padding: 1%;
    position: relative;
    left: 15%;
    display: flex;
    justify-content: flex-begin;
}

h4 {
    line-height: 0.5;
    color: #E1C120;
    overflow: middle;
}

ul {
    position: relative;
    bottom: 12px;
}

li {
    color: #FFFFFFCC;
}

.section p, #projects p {
    color: #FFFFFF;
    font-weight: 100;
}

a:link {
    color: #E1C120;
    transition: 0.2s;
}

a:visited {
    color: #DDAAEE;
}

a:hover {
    color: #002080AA;
    text-decoration: none;
    transition: 0.2s;
}

#sections {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: flex-begin;
}

.section {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 18px;
    color: #000000;
    flex-basis: 15.5%;
    min-width: 200px;
    border-radius: 10px;
    padding: 1%;
    position: relative;
    left: 15%;
    right: 15%;
    top: 10px;
}

#projects {
    font-family: 'Bebas Neue', sans-serif;
    color: #000000;
    font-size: 18px;
    background-color: #AA2030D1;
    text-align: top;
    width: 68%;
    padding: 1%;
    margin-bottom: 100px;
    border-radius: 10px;
    position: relative;
    left: 15%;
    top: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#experience{
    background-color: #D37020D1;
}

#education {
    background-color: #4080EED1;
}

#courses {
    background-color: #809A7FD1;
}

#skills {
    background-color: #9030FED1;
}

.jobdesc {
    font-family: 'Crimson';
    font-size: 15px;
    position: relative;
    bottom: 5px;
}

.timedesc {
    font-family: 'Crimson';
    font-size: 11px;
    position: relative;
    bottom: 16px;
}

footer {
    font-family: 'Bebas Neue';
    color: #FFFFFF99;
    background-color: #00000099;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0px;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

@media only screen and (max-width: 700px){
    #headshot {
        width: 50%;
    }
    main {
    	zoom: 120%;
    }
}
