/* import fonts */
@font-face {
    font-family: 'Bebas Neue';
    src: url('Fonts/BebasNeue-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Crimson';
    src: url('Fonts/CrimsonText-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "Tinos";
    src: url('Fonts/Tinos-Regular.ttf') format("truetype");
}

@font-face {
    font-family: "Arsenal";
    src: url('Fonts/Arsenal-Regular.ttf') format('truetype');
}

/* top level */

html {
    
    font-family: "Arsenal"
    
}

header h5 {
    font-family: "Tinos";
}

h1, h2, h3, h4, h5, h6 {
    
    font-family: "Bebas Neue";
    text-align: center;
    
}

body {
    
    /* sizing and position */
    width: 800px;
    position: relative;
    margin: 0 auto;
    
    
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    
}


/* sections */

#edu_exp, #bulletpoints {
    
    
    display: flex;
    flex-flow: row;
    align-items: top;
    
}

#edu_exp {
    
    display: flex;
    flex-flow: column;
    align-items: center;
    
}


