/* @font-face statements import downloaded fonts from the Fonts folder within the current directory */
@font-face {
    font-family: 'Bebas Neue';
    src: url('Fonts/BebasNeue-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Crimson';
    src: url('Fonts/CrimsonText-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "Tinos";
    src: url('Fonts/Tinos-Regular.ttf') format("truetype");
}

@font-face {
    font-family: "Arsenal";
    src: url('Fonts/Arsenal-Regular.ttf') format('truetype');
}

/* Applies serif font, a background color of black, and a background image titled 'background.jpeg' within the current directory */
html {
    font-family: serif;
    background-image: url('background.jpeg');
    background-color: #000000;
}

body {
    
    background-color: #6612;
    
}

/* Ruleset for intro div containing headshot, name and description */
#intro {
    /* Declares font, aligns text to center of the page */
    font-family: 'Bebas Neue';
    text-align: center;
    /* Declares div as a grid of flex boxes, stacked vertically, justified to the center of the page */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Ruleset for div containing headshot */
#headshotp {
    /* Offsets the position of the div by 10px down from the top of its default position */
    position: relative;
    top: 10px;
    
    /* Declares div a grid of flexboxes, justifies all boxes to the center of the page */
    display: flex;
    justify-content: center;
}

/* Declares default width of headshot as 15% of its parent container, slightly rounds the corners of the image */
#headshot {
    width: 12%;
    border-radius: 15px;
}

/* Ruleset for name */
#name {
    font-family: "tinos";
    color: #FFF;
    /* Offsets name 20px down from its default position */
    position: relative;
    top: 20px;
}

/* Ruleset for short description of self under name */
#description {
    font-family: "tinos";
    color: #FFF;
    /* Offsets description box 10px up from static position */
    position: relative;
    bottom: 10px;
}

/* Ruleset for header cntaining word "Biography" */
#bioh {
    /* Sets font to Bebas Neue 18px, sans serif backup font */
    font-family: 'Bebas Neue', sans-serif;
    font-size: 18px;
    color: #E1C120;
    background-color: #6F0010AA;
    /* Aligns text to the left of the container */
    text-align: left;
    /* Sets witdh of bio header to 68% of the width of the page, and 1% padding on all sides */
    width: 68%;
    padding: 1%;
    /* Rounds the edges of the borders */
    border-radius: 10px;
    /* Sets position down 20px, 15% of the width of the page from the left of its static position */
    position: relative;
    top: 20px;
    left: 15%; /* 15% offset, 68% width and 1% padding on each side centers box on page */
    /* Sets display style to flex; vertically aligns all content to center of the container */
    display: flex;
    justify-content: center;
}

/* Ruleset for box containing biography text */
#bio {
    font-family: 'Crimson';
    color: #FFFFFF;
    background-color: #6F0010dd;
    text-align: left;
    width: 68%;
    border-radius: 10px;
    padding: 1%;
    position: relative;
    left: 15%;
    display: flex;
    justify-content: flex-begin;
}

h4 {
    line-height: 0.5;
    color: #E1C120;
    overflow: middle;
}

ul {
    position: relative;
    bottom: 12px;
}

li {
    color: #FFFFFFCC;
}

.section p, #projects p {
    color: #FFFFFF;
    font-weight: 100;
}

a:link {
    color: #E1C120;
    transition: 0.2s;
}

a:visited {
    color: #DDAAEE;
}

a:hover {
    color: #002080AA;
    text-decoration: none;
    transition: 0.2s;
}

#sections {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: flex-begin;
}

.section {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 18px;
    color: #000000;
    flex-basis: 15.5%;
    min-width: 200px;
    border-radius: 10px;
    padding: 1%;
    position: relative;
    left: 15%;
    right: 15%;
    top: 10px;
}

#projects {
    font-family: 'Bebas Neue', sans-serif;
    color: #000000;
    font-size: 18px;
    background-color: #AA2030D1;
    text-align: top;
    width: 68%;
    padding: 1%;
    margin-bottom: 100px;
    border-radius: 10px;
    position: relative;
    left: 15%;
    top: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#experience{
    background-color: #991100aa;
}

#education {
    background-color: #770011aa;
}

#courses {
    background-color: #551100aa;
}

#skills {
    background-color: #330011aa;
}

.jobdesc {
    font-family: 'Crimson';
    font-size: 15px;
    position: relative;
    bottom: 5px;
}

.timedesc {
    font-family: 'Crimson';
    font-size: 11px;
    position: relative;
    bottom: 16px;
}

footer {
    font-family: 'Bebas Neue';
    color: #FFFFFF99;
    background-color: #00000099;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0px;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

@media only screen and (max-width: 700px){
    #headshot {
        width: 50%;
    }
    main {
    	zoom: 120%;
    }
}
